.icon-size {
  max-height: 2em;
  max-width: 2em;
  padding: 0 0em 0.3em 0.5em;
}

.switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  position: absolute;
  transition: .3s;
}

.container {
  padding-left: 0.5em;
  height: 1.15em;
}

input:checked+.slider {
  background-color: #66bb6a;
}

input:checked+.slider:before {
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.option-type {
  font-size: 0.75em;
  padding-bottom: 0.25em;
  opacity: 0.5;
}
.option-block {
  font-family: sans-serif;
  letter-spacing: 0.075em;
  background-color: #E6E6E6;
  display: inline-flex;
  flex-direction: column;
  padding: 0.45em 1.5em 0.35em;
  margin: 0.25em;
  border-radius: 1em;
  align-items: center;
  height: 40px;
  max-height: 40px;
  justify-self: end;
  overflow: hidden;
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  align-content: center;
}

#randomise-button {
  width: 1.5em;
  height: 1.5em;
  padding-right: 0.7em;
}

.option-container {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

label {
  user-select: none;
}