.ch-img {
    max-width: calc(50% - 72px);
    width:128px;
    // height:128px;
    height:auto;
}
.kr-img {
    max-width: calc(50% - 10px);
    width:200px;
    // height:128px;
    height:auto;
}
.row {
    display: flex;
    flex-direction: row;
}
.player-number {
    width:65px;
    height:65px;
    padding: 7.5px 10px 0 0 ;
}
.random-selection {
    position: relative;
    display: inline-block;
    max-width: 450px;
    background-image: url('https://i.imgur.com/fmUqxYm.jpg');
    margin: 5px;
    padding: 5px 10px;
    border: 2px solid black;
}
p {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 25px;
    color: white;
    margin: 5px 0 0;
    padding: 10px 10px 16px;
    background: rgba(0,0,0,0.8);
    min-height: 75px;
    margin-bottom: 7.5px;
}
.kart .row {
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}
img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}