.main-component {
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
}

app-random-kart {
    height: calc(337px + 5px + 2px + 5px);
    max-width: calc(550px + 10px + 2px + 5px);
    overflow: hidden;
}